force-app/main/default/flows/Case_Assign_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>312</locationX>
        <locationY>867</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Wait_24hr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body4HR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title4HR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipTEXT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_0</name>
        <label>Notification</label>
        <locationX>550</locationX>
        <locationY>724</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body24</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title24</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipTEXT2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_0.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Owner_to_recip</name>
        <label>Add Owner to recip</label>
        <locationX>176</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>RecipTEXT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Owner_to_recip_0</name>
        <label>Add Owner to recip</label>
        <locationX>401</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>RecipTEXT2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case_0.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Activity</name>
        <label>Check For Activity</label>
        <locationX>169</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Activity_4hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.No_Update_in_4_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Owner_to_recip</targetReference>
            </connector>
            <label>No Activity 4hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Activity_0</name>
        <label>Check For Activity</label>
        <locationX>394</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Activity_24hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_0.No_Update_in_24_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Owner_to_recip_0</targetReference>
            </connector>
            <label>No Activity 24hrs</label>
        </rules>
    </decisions>
    <description>Clone of version 2 which was current active version; changed target id to second get case</description>
    <interviewLabel>Case Assign Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assign Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>177</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_0</name>
        <label>Get Case</label>
        <locationX>402</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Activity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>177</locationX>
        <locationY>867</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>51</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Wait_4_Hours</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body24</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case assigned and no update made within 24 hours.</text>
    </textTemplates>
    <textTemplates>
        <name>Body4HR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case assigned and no update made within 4 hours.</text>
    </textTemplates>
    <textTemplates>
        <name>Title24</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>24 Hours - No Updates</text>
    </textTemplates>
    <textTemplates>
        <name>Title4HR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>4 Hours - No Updates</text>
    </textTemplates>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Case.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecipientIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RecipTEXT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipTEXT2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_24hr</name>
        <label>Wait 20 More</label>
        <locationX>320</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always24</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Case_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_4_Hours</name>
        <label>Wait 4 Hours</label>
        <locationX>177</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always</label>
        </waitEvents>
    </waits>
</Flow>
