force-app/main/default/flows/Delete_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Is_User_ssy_admin_or_iss_manager</name>
        <label>Is User sys admin or iss manager</label>
        <locationX>175</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Update_field_back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASTM ISS Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When Delete field is updated to true, then delete record. Used with a case list view update action to mass delete records.</description>
    <interviewLabel>Delete Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Case</name>
        <label>Delete Case</label>
        <locationX>447</locationX>
        <locationY>330</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Update_field_back</name>
        <label>Update field back</label>
        <locationX>183</locationX>
        <locationY>549</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>57</locationX>
        <locationY>81</locationY>
        <connector>
            <targetReference>Is_User_ssy_admin_or_iss_manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
