force-app/main/default/flows/Delete_ISS_Queues_Nightly.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>is_null</name>
        <label>is null</label>
        <locationX>175</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ISS_queues</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Delete ISS Queues Nightly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete ISS Queues Nightly</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_ISS_queues</name>
        <label>Delete ISS queues</label>
        <locationX>182</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Update_all_queue_assignment_records</name>
        <label>Update all queue assignment records</label>
        <locationX>182</locationX>
        <locationY>749</locationY>
        <inputAssignments>
            <field>Queue_Assignment__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Queue_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>59</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>is_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHPUA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHUUA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHZUA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHeUAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHjUAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHoUAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001uXHtUAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001ovX7UAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001ovXHUAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001ovXCUAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001ovXMUAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001ovXRUAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C00000288gDUAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C00000288gDUAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001rNqrUAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G6C000001rPSsUAM</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-07</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_all_queue_assignment_records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always</label>
        </waitEvents>
    </waits>
</Flow>
