force-app/main/default/flows/Queue_Assignment_create_member_record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Accounting</name>
        <label>Accounting</label>
        <locationX>1152</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>TCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Accounting_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Accounting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AENOR</name>
        <label>AENOR</label>
        <locationX>1152</locationX>
        <locationY>1339</locationY>
        <defaultConnector>
            <targetReference>ISSMgt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AENOR_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AENOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AENOR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>API</name>
        <label>API</label>
        <locationX>703</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>CGA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>API_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_API_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AWWA</name>
        <label>AWWA</label>
        <locationX>703</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>API</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AWWA_yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AWWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AWWA_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCRL</name>
        <label>CCRL</label>
        <locationX>1143</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>IESQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CCRL_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CCRL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCRL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CGA</name>
        <label>CGA</label>
        <locationX>712</locationX>
        <locationY>1328</locationY>
        <defaultConnector>
            <targetReference>AENOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CGA_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CGA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CGA_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IESQueue</name>
        <label>IES Queue</label>
        <locationX>1142</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>Spanish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IESQueue_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IESQueue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISS_Internal</name>
        <label>ISS Internal</label>
        <locationX>1148</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ISSInternal_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ISS Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ISSInternal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISSMgt</name>
        <label>ISS Mgt</label>
        <locationX>1147</locationX>
        <locationY>1184</locationY>
        <defaultConnector>
            <targetReference>Level2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ISSMgt_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ISS Mgt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ISS_Mgt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level2</name>
        <label>Level 2</label>
        <locationX>1151</locationX>
        <locationY>1038</locationY>
        <defaultConnector>
            <targetReference>Accounting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Level2_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Level_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Members_found</name>
        <label>Members found</label>
        <locationX>485</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecVarMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Member_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PTP</name>
        <label>PTP</label>
        <locationX>704</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>AWWA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PTP_yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PTP_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue</name>
        <label>Queue</label>
        <locationX>702</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service</name>
        <label>Service</label>
        <locationX>701</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Service_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spanish</name>
        <label>Spanish</label>
        <locationX>1144</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>ISS_Internal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Spanish_yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Spanish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support</name>
        <label>Support</label>
        <locationX>703</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>PTP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Support_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Support_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCO</name>
        <label>TCO</label>
        <locationX>1143</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>CCRL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TCO_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TCO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Queue Assignment - create member record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Queue Assignment - create member record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Member_Record_0</name>
        <label>Create Member Record</label>
        <locationX>951</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Support</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Service_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_0_0</name>
        <label>Create Member Record</label>
        <locationX>960</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>PTP</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Support_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_Accounting</name>
        <label>Create Member Record</label>
        <locationX>1428</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>TCO</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Accounting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_AENOR</name>
        <label>Create Member Record</label>
        <locationX>1446</locationX>
        <locationY>1337</locationY>
        <connector>
            <targetReference>ISSMgt</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_AENOR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_API</name>
        <label>Create Member Record</label>
        <locationX>961</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>CGA</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_API_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_AWWA</name>
        <label>Create Member Record</label>
        <locationX>968</locationX>
        <locationY>1061</locationY>
        <connector>
            <targetReference>API</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_AWWA_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_CCRL</name>
        <label>Create Member Record</label>
        <locationX>1421</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>IESQueue</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_CCRL.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_CGA</name>
        <label>Create Member Record</label>
        <locationX>959</locationX>
        <locationY>1388</locationY>
        <connector>
            <targetReference>AENOR</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_CGA_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_IESQueue</name>
        <label>Create Member Record</label>
        <locationX>1419</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Spanish</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_IESQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_ISSMgt</name>
        <label>Create Member Record</label>
        <locationX>1436</locationX>
        <locationY>1196</locationY>
        <connector>
            <targetReference>Level2</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_ISS_Mgt.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_Level2</name>
        <label>Create Member Record</label>
        <locationX>1433</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>Accounting</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Level_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_PTP</name>
        <label>Create Member Record</label>
        <locationX>969</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>AWWA</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_PTP_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_Spanish</name>
        <label>Create Member Record</label>
        <locationX>1416</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>ISS_Internal</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Spanish.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_TCO</name>
        <label>Create Member Record</label>
        <locationX>1430</locationX>
        <locationY>748</locationY>
        <connector>
            <targetReference>CCRL</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_TCO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Record_TestQueue_0_0</name>
        <label>Create Member Record</label>
        <locationX>1422</locationX>
        <locationY>203</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_ISSInternal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Member_Records</name>
        <label>Delete Member Records</label>
        <locationX>491</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
        <inputReference>RecVarMember</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Accounting</name>
        <label>Get Accounting</label>
        <locationX>1306</locationX>
        <locationY>892</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_Accounting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AENOR</name>
        <label>Get AENOR</label>
        <locationX>1307</locationX>
        <locationY>1350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_AENOR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AENOR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_API_ID</name>
        <label>Get API ID</label>
        <locationX>839</locationX>
        <locationY>1195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AWWA_ID</name>
        <label>Get AWWA ID</label>
        <locationX>851</locationX>
        <locationY>1063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_AWWA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWWA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCRL</name>
        <label>Get CCRL</label>
        <locationX>1295</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_CCRL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCRL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CGA_ID</name>
        <label>Get CGA ID</label>
        <locationX>845</locationX>
        <locationY>1385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_CGA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CGA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IESQueue</name>
        <label>Get IESQueue</label>
        <locationX>1297</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_IESQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IES</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ISS_Mgt</name>
        <label>Get ISS Mgt</label>
        <locationX>1306</locationX>
        <locationY>1194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_ISSMgt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ISS Mgt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ISSInternal</name>
        <label>Get ISS Internal</label>
        <locationX>1289</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_TestQueue_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ISS Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_2</name>
        <label>Get Level 2</label>
        <locationX>1306</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_Level2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_member_record</name>
        <label>Get member record</label>
        <locationX>345</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Members_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>RecVarMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PTP_ID</name>
        <label>Get PTP ID</label>
        <locationX>849</locationX>
        <locationY>917</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_PTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_ID</name>
        <label>Get Service ID</label>
        <locationX>839</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spanish</name>
        <label>Get Spanish</label>
        <locationX>1286</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_Spanish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spanish</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_ID</name>
        <label>Get Support ID</label>
        <locationX>840</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TCO</name>
        <label>Get TCO</label>
        <locationX>1302</locationX>
        <locationY>740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Record_TCO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TCO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecVarMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>175</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_member_record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Always</label>
        </waitEvents>
    </waits>
</Flow>
