force-app/main/default/flows/SCRN_Case_Close_parent_and_children.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SendCaseClosingEmails</name>
        <label>SendCaseClosingEmails</label>
        <locationX>483</locationX>
        <locationY>684</locationY>
        <actionName>SendCaseClosingEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_Parent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParentCaseId</name>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendFromId</name>
            <value>
                <elementReference>Get_org_wide_email_id.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>AENOR</name>
        <choiceText>AENOR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AENOR</stringValue>
        </value>
    </choices>
    <choices>
        <name>API</name>
        <choiceText>API</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>API</stringValue>
        </value>
    </choices>
    <choices>
        <name>AWWA</name>
        <choiceText>AWWA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AWWA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGA</name>
        <choiceText>CGA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CGA</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosewithEmail</name>
        <choiceText>Close with Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close with Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosewithoutEmail</name>
        <choiceText>Close without Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close without Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate1</name>
        <choiceText>Email Template 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mass_email_1_1630001275141</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate2</name>
        <choiceText>Email Template 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mass_email_2_1630001342886</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate3</name>
        <choiceText>Email Template 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Template 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>IES</name>
        <choiceText>IES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IES</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoReply</name>
        <choiceText>noreply@astm.org</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>noreply@astm.org</stringValue>
        </value>
    </choices>
    <choices>
        <name>PTP</name>
        <choiceText>PTP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PTP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service</name>
        <choiceText>Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Support</name>
        <choiceText>Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Close_with_email</name>
        <label>Close with email?</label>
        <locationX>315</locationX>
        <locationY>489</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>yesemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosewithEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Record</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosewithoutEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Parent</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <description>Used from a parent case to close the case and all related children and allows to mass send an email to all contacts related to those cases.</description>
    <dynamicChoiceSets>
        <name>CategoryOfRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Catagory__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>emailtemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FolderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEmailFolder.Id</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>EmailTemplate</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PlatformChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Platform__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubCategoryOfRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subcategory_of_Request__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>SCRN - Case - Close parent and children {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Scrn - Close parent and children</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Email_Template_Record</name>
        <label>Get Email Template Record</label>
        <locationX>493</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_org_wide_email_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Email_Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_org_wide_email_id</name>
        <label>Get org wide email id</label>
        <locationX>649</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Send_From</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>171</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmailFolder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailFolder</name>
        <label>GetEmailFolder</label>
        <locationX>171</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mass_Close_Case_and_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MassEmailtemplates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Folder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Children</name>
        <label>Update Children</label>
        <locationX>327</locationX>
        <locationY>840</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Catagory__c</field>
            <value>
                <elementReference>GetCase.Catagory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <elementReference>Platformfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory_of_Request__c</field>
            <value>
                <elementReference>GetCase.Subcategory_of_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Parent</name>
        <label>update Parent</label>
        <locationX>327</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Update_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <elementReference>Platformfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Email_Preview</name>
        <label>Email Preview</label>
        <locationX>649</locationX>
        <locationY>684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendCaseClosingEmails</targetReference>
        </connector>
        <fields>
            <name>Preview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Preview:﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Note - to update this language please close this screen, update the selected email template then return to the case to close&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailPreview</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Subject:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Email_Template_Record.Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Body:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Email_Template_Record.HtmlValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mass_Close_Case_and_Children</name>
        <label>Mass Close Case and Children</label>
        <locationX>171</locationX>
        <locationY>487</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_with_email</targetReference>
        </connector>
        <fields>
            <name>Close_Option</name>
            <choiceReferences>ClosewithEmail</choiceReferences>
            <choiceReferences>ClosewithoutEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Close Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Email_Template</name>
            <choiceReferences>emailtemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Close_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClosewithEmail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Send_From</name>
            <choiceReferences>Support</choiceReferences>
            <choiceReferences>Service</choiceReferences>
            <choiceReferences>PTP</choiceReferences>
            <choiceReferences>AWWA</choiceReferences>
            <choiceReferences>API</choiceReferences>
            <choiceReferences>CGA</choiceReferences>
            <choiceReferences>AENOR</choiceReferences>
            <choiceReferences>IES</choiceReferences>
            <choiceReferences>NoReply</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Send From</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Close_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClosewithEmail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Platformfield</name>
            <choiceReferences>PlatformChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetCase.Platform__c</elementReference>
            </defaultValue>
            <fieldText>Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>currentFields</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b&gt;Below are the fields currently on the parent case. These values will populate all child cases. If you wish to update a value -  close this screen, update the value on the parent case and then return.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mass_Close_Case_and_Children_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mass_Close_Case_and_Children_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Category</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Category of Request:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!GetCase.Catagory__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mass_Close_Case_and_Children_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>subcategory</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Sub Category of Request:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!GetCase.Subcategory_of_Request__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>45</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
